@import url("https://fonts.googleapis.com/css?family=Rubik");
:root {
	--primary: #0b132a;
	--secondary: #4f5665;
	--focus: #f53838;
	--padding-sides: 80px;
}
body {
	margin: 0;
	font-family: Rubik, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
		"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.App {
	padding: 0 var(--padding-sides);
}
